 body {
  background-image: url("1200px-F-22_Raptor_edit1_(cropped).jpg");
}

h1{
 background: black;
 color: white;
 margin: auto;
 display: block;
 width:max-content;
}

h2{
 background: black;
 color: white;
 margin: auto;
 display: block;
 width:max-content;
}

h3{
  background: white;
  color: green;
}

p{
  background: grey;
  width:max-content;
}
