 body {
  background-image: url("915f85439376e678d0996c0a3b00efdc.jpg");
}

h1{
 background: black;
 color: white;
 margin: auto;
 display: block;
 width: max-content;
}

h2{
 background: black;
 color: white;
 margin: auto;
 display: block;
 width: max-content;
}

h3{
  background: white;
  color: green;
}

h4{
background: white;
width: max-content;
}

p{
  background: grey;
  width: max-content;
}
