body {
  background-image: url("Dirt_background_BE1.webp");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}

p{
  background: grey;
  width:max-content;
}

h3{
  background: white;
  color: green;
}
